# Dataset (tracked via Git LFS)
# Uncomment the line below to ignore locally if LFS is not available
# /data/

# Proposal PDF
ECE549_proposal.pdf

# Model outputs & checkpoints
outputs/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Editor
.vscode/
.idea/

.venv/
